mixin gallery
    .gallery
        .gallery__header
            .gallery__title
                h1#gallery Gallery
            .gallery__subtitle
                p Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                p dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                p ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .gallery__images
                .container.container--lg
                    .row
                        .col-xl-8.col-lg-8.col-md-6.col-sm-12.col-12
                            .item1
                                img(src="./img/gallery/peachx1.jpg" alt="peach")
                        .col-xl-4.d-xl-block.d-none.col-lg-4.d-lg-block.d-none.col-md-6.col-12
                            .item2
                                img(src="./img/gallery/blueberryx1.jpg" alt="blueberry")
                            .item3
                                img(src="./img/gallery/mulberryx1.jpg" alt="mulberry")
                        .d-lg-none.col-md-6.d-md-block.d-sm-block
                            .item2
                                img(src="./img/gallery/blueberryx1.jpg" alt="blueberry")  
                        .d-lg-none.col-md-6.d-md-block.d-sm-block 
                            .item3
                                img(src="./img/gallery/mulberryx1.jpg" alt="mulberry")
                        .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                            .item4
                                img(src="./img/gallery/milkshakex1.jpg" alt="milkshake")
                        .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                            .item5
                                img(src="./img/gallery/persimmonx1.jpg" alt="persimmon")
                    a(href='#' class='button gallery__button--blue') VIEW MORE
                    