mixin services
    .services
        .container.container--lg
            .row
                .col-12.col-lg-4.offset-lg-1.order-lg-1.order-2
                    .row
                        .col-11.col-sm-6.col-md-6.col-lg-12.pr-0
                            .services__item.d-flex
                                p.services__name.flex-grow-1.align-self-center Online Shopping
                                    .services__icon.d-flex.align-items-center.justify-content-center.flex-shrink-0
                                        svg.icons.icons--services: use(xlink:href="#icon-cart")
                            .services__item.d-flex
                                p.services__name.flex-grow-1.align-self-center Quality Product
                                    .services__icon.d-flex.align-items-center.justify-content-center.flex-shrink-0
                                        svg.icons.icons--services: use(xlink:href="#icon-hand")
                            .services__item.d-flex
                                p.services__name.flex-grow-1.align-self-center Domestic & International Delivery
                                    .services__icon.d-flex.align-items-center.justify-content-center.flex-shrink-0
                                        svg.icons.icons--services: use(xlink:href="#icon-globe")
                            .services__item.d-flex
                                p.services__name.flex-grow-1.align-self-center Well Organized
                                    .services__icon.d-flex.align-items-center.justify-content-center.flex-shrink-0
                                        svg.icons.icons--services: use(xlink:href="#icon-carrot")
                .col-12.col-lg-6.offset-xl-1.order-1.order-lg-2.d-flex.align-items-center.justify-content-center.justify-content-lg-end
                    .services__title.mt-md-0.mb-md-5.pb-md-5.my-5 Our Services
