.contacts {
    background-image: url('../img/contact@x1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 102px;


    &__title {
        /* Text style for "Contact" */
    
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 48px;
    text-align: center;
    }
    
    &__subtitle {
        /* Text style for "For new projec" */
    
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    margin-bottom: 50px;
    }

    &__form {
    
    padding-bottom: 120px;
    
    }

    textarea {
        
    width: 100%;
    height: 250px;
    background-color: rgba(0, 196, 196, 0.5);
    resize: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-left: 19px;
    padding-top: 20px;
    } 

    &__contacts {
    
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;

    }


    &__information {
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    padding-bottom: 23px;
    }
    
    &__form input::placeholder {
    
    color: white;
    }

    input[type="text"],[type="email"] {
        /* Style for "bg" */
        width: 100%;
        height: 50px;
        color: white;
        background-color: rgba(0, 196, 196, 0.5);
        border: none;
        padding-left: 19px;
        margin-bottom: 15px;
        font-family: 'Raleway', sans-serif;
        
        }    

    input[type="text"]:focus {
        width: 100%;
    background-color: rgba(0, 196, 196, 0.8);
    opacity: 1!important; 
        /* Style for "active" */
    border-left: 5px solid;
    border-color: #355b82;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    color: white;
    }    

    &__button {
                /* Style for "bg" */
                width: 30%;
                height: 50px;
                margin-top: 20px;
                background-color: rgba(0, 196, 196, 0.5);
                border: none;
                margin-bottom: 15px;
                font-family: 'Raleway', sans-serif;
                color: white;
                cursor: pointer;
                font-family: 'Raleway', sans-serif;
    }    

    &__solid:focus {
        /* Style for "bg" */
    width: 100%;
    background-color: rgba(0, 196, 196, 0.8);
    opacity: 1!important; 
        /* Style for "active" */
    border-left: 5px solid;
    border-color: #355b82;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    color: white;
        }    

    &__footer {
    background-color: #262626;
    padding-top: 36px;
    padding-bottom: 41px;
        }    
        
    &__copyright {
            /* Text style for "┬й 2015 Company" */
        
    color: #b9b9b9;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
        }
        
    &__author {
            /* Base text style */
        
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 25px;
        
        /* Text style for "Made with" */
    color: #b9b9b9;
    font-weight: 300;
        }
        
    &__author span {
            /* Text style for "love" */
    color: #ff2b58;
    font-weight: 700;
        }
    &__smalllogo    {
        width: 64px;
height: 27px;
color: #b9b9b9;
font-family: Pacifico;
font-size: 25px;
font-weight: 400;
line-height: 25px;
    }
}