mixin contacts
    .contacts
        .container.container--lg
            .row
                .col-12
                    .contacts__header
                        #contact.contacts__title
                            h2 Contact
                        .contacts__subtitle
                            p For new projects, ideas, business or anything
                            p you'd like to discuss, contact with me!
            .row
                .col-xl-5.col-lg-5.col-md-5.col-sm-5.col-xs-5.pr-xl-0
                    form(action="index.html"  class="contacts__form" method="GET")
                        input(class="contacts__solid" type="text" id="name" name="name" placeholder="Your name...")
                        input(class="contacts__solid" type="email" id="email" name="email" placeholder="Your email...")
                        input(class="contacts__solid" type="text" id="number" name="number" placeholder="Your phone number..." data-mask="0000-0000")
                        textarea Your message
                        button(type="submit" class="contacts__button" value="Submit") Submit
                .offset-xl-2.col-xl-5.offset-lg-2.col-lg-5.offset-md-2.col-md-5.offset-sm-2.col-sm-5
                    .contacts__address
                        h3.contacts__contacts Address
                        p.contacts__information 123 City name, Street, City, Country
                        h3.contacts__contacts Email
                        a(class="contacts__mail" href="mailto:cahee@domain.com") cahee@domain.com
                        h3.contacts__contacts Phone
                        a(class="contacts__phone" href="tel:+0123456789") +012 345 6789 
        .contacts__footer
            .container
                .row
                    .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .contacts__foot
                            p.contacts__copyright &copy; 2015 Company. All rights reserved.
                            a(href="#")
                                img(class="contacts__smalllogo" src="./img/logo_footer.svg" alt="logo small")
                            p.contacts__author Made with <span>love</span> by Auskteez
                        